:root {

    /* General Color */
    --white: #FFFCF6;
    --beige: #F5F0E6;
    --green: #058240;
    --mint: #87C159;
    --yellow: #F3C301;
    --light-yellow: #FEE3A2;
    --ashgrey: #ADCACB;
    --black: #0D0E0E;

}