:root {

    /* General Color */
    --white: #FFFFFF;
    --beige: #fefaf6;
    --cream: #FBF1D7;
    --green: #058240;
    --mint: #94c57b;
    --yellow: #F3C301;
    --black: #0D0E0E;
    --azure: #24555c;

}