@import url('colors.css');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* NAVBAR */
.navbar {
    padding: 10px 30px;
    transition: all 0.5s ease;
}

.navbar-brand img {
    height: 60px;
    width: auto;
}

.navbar .nav-item {
    font-size: 20px;
    font-family: "Lilita One", sans-serif;
}

.navbar .nav-link {
    color: var(--white);
}

.navbar .nav-link:hover {
    color: var(--azure);
    transition: all 0.5s ease;
}

.cart-icon {
    color: var(--white);
}

.cart-icon:hover {
    color: var(--azure);
    transition: all 0.5s ease;
}

.navbar-nav {
    gap: 50px;
}

.navbar-transparent {
    background: transparent;
}

.navbar-scrolled {
    background: var(--mint);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.navbar-visible {
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.cart-badge {
    font-size: 11px;
    background: rgb(219, 41, 41);
    color: white;
    border-radius: 51%;
    padding: 1px 6px;
    position: absolute;
    top: -8px;
    right: -10px;
}

/* Sidebar Cart */

/* Sidebar */
.cart-sidebar {
    width: 360px;
    height: 100vh;
    background: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    font-family: "Fredoka", sans-serif;
}

.cart-sidebar.active {
    transform: translateX(0);
}

/* header */
.cart-header {
    padding: 1rem;
    background: var(--mint);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header h5 {
    margin: 0;
    font-size: 1.5rem;
}

.cart-header .close-btn {
    background: transparent;
    border: none;
    color: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
}

/* body */
.cart-body {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

.select-all {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    color: var(--azure);
    margin-bottom: 1rem;
}

/* item */
.cart-item {
    display: flex;
    align-items: flex-start;
    /* background: var(--beige); */
    /* border-radius: 10px;
    padding: 0.75rem; */
    margin-bottom: 1rem;
    gap: 0.5rem;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); */
}

.cart-check {
    margin-top: 0.5rem;
}

.cart-img {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid var(--azure);
}

.item-info {
    flex: 1;
}

.item-info h6 {
    font-size: 0.95rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: var(--black);
}

.qty-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-qty {
    width: 26px;
    height: 26px;
    border: 1px solid var(--ashgrey);
    border-radius: 6px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}

.item-price {
    display: block;
    margin-top: 0.4rem;
    color: var(--green);
}

.cart-branch {
    font-size: 0.75rem;
    color: var(--azure);
}

.btn-delete {
    background: transparent;
    border: none;
    color: red;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-delete:hover {
    transform: scale(1.2);
}

/* footer */
.cart-footer {
    padding: 1rem;
    background: var(--cream);
    border-top: 2px solid var(--mint);
}

.cart-footer .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
}

.checkout-btn {
    width: 100%;
    padding: 0.8rem;
    background: transparent;
    color: var(--black);
    border: 3px solid var(--green);
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.checkout-btn:hover {
    background: var(--green);
    color: var(--white);
}

/* Scrollbar */
.cart-body::-webkit-scrollbar {
    width: 6px;
}

.cart-body::-webkit-scrollbar-thumb {
    background: var(--ashgrey);
    border-radius: 10px;
}

/* checklist */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--ashgrey);
    border-radius: 4px;
    background: var(--white);
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
    display: inline-block;
}

input[type="checkbox"]:checked {
    background: var(--green);
    border-color: var(--green);
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 4px;
    height: 9px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input[type="checkbox"]:hover {
    border-color: var(--mint);
    box-shadow: 0 0 4px rgba(148, 197, 123, 0.6);
}

.select-all label {
    font-weight: 600;
    color: var(--azure);
    cursor: pointer;
}






/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1040;
}

.overlay.active {
    display: block;
}

/* NAVBAR */








/* HEADER */
.header-section {
    height: 40vh;
    background-image: url(/assets/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;

    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
    font-family: "Lilita One", sans-serif;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section h1 {
    margin-top: 80px;
    font-size: 4rem;
    font-family: "Lilita One", sans-serif;
}

.breadcrumb {
    font-family: "Fredoka", sans-serif;
}

.breadcrumb a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    font-family: "Fredoka", sans-serif;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb .separator {
    margin: 0 8px;
}

.breadcrumb span {
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}

/* HEADER */








/* PRODUCTS PAGE */
.product-section {
    min-height: 100vh;
    background-color: var(--beige);
    font-family: "Fredoka", sans-serif;
}

/* filter */
.filter-bar {
    padding: 12px 25px;
    border-bottom: 3px solid var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-label {
    font-weight: bold;
    margin-right: 15px;
    font-size: 0.95rem;
    color: var(--black);
}

.filter-options {
    display: flex;
    gap: 25px;
    align-items: center;
}

.dropdown-toggle {
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 0.95rem;
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    border-radius: 10px;
    border: 1px solid var(--ashgrey);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    background-color: var(--white);
}

.dropdown-item {
    font-size: 0.9rem;
    padding: 8px 15px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: var(--mint);
    color: var(--white);
}

.product-count {
    font-weight: bold;
    font-size: 0.95rem;
}

/* filter */

/* products */
.product-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.product-card .card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.product-card .product-price {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--green);
}

.btn-view {
    width: 50%;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: var(--green);
    border: none;
    font-weight: 500;
    color: var(--white);
}

.btn-view:hover {
    transform: scale(1.05);
}

.btn-add-to-cart {
    width: 50%;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: var(--yellow);
    border: none;
    font-weight: 500;
}

.btn-add-to-cart:hover {
    transform: scale(1.05);
}

/* PRODUCTS PAGE */









/* FOOTER */
.footer-separator {
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #058240, #ADCACB);
}

footer {
    background-color: var(--cream);
    background-image: url(/assets/leafff.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Fredoka", sans-serif;
}

.footer-container {
    padding-top: 2rem;
}

.footer-logo img {
    max-width: 200px;
}

/* Contact form */
.contact-form input,
.contact-form textarea,
.contact-form select {
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
    padding: 10px 15px;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
    border-color: #133a19;
    outline: none;
    box-shadow: 0 0 6px rgba(19, 58, 25, 0.4);
}

.submit-btn {
    background-color: var(--yellow);
    border: 2px solid #000;
    border-radius: 25px;
    padding: 5px 18px;
    transition: 0.3s;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}

.submit-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-links {
    text-align: left;
}

.footer-links a {
    display: block;
    font-weight: 500;
    margin: 6px 0;
    text-decoration: none;
    color: var(--black);
    transition: color 0.3s;
}

.footer-links a:hover {
    transform: scale(1.01);
}

.contact-info {
    text-align: left;
}

.contact-info p {
    margin: 6px 0;
    font-weight: 500;
    color: var(--black);
}

.footer-title {
    color: var(--green);
    font-size: 25px;
    font-family: "Lilita One", sans-serif;
}

.footer-bottom {
    font-size: 13px;
    width: 100%;
    margin-top: 20px;
    color: var(--black);
    border-top: 1px solid var(--azure);
    padding: 0.2rem 0.2rem;
    text-align: center;
}

.footer-bottom a,
.footer-bottom p {
    text-decoration: none;
    color: var(--black);
    margin: 0;
}

.footer-bottom a:hover {
    text-decoration: underline;
    color: var(--black);
}


.hours {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

/* FOOTER */







/* SINGLE PRODUCT DETAILS */
#single-product {
    font-family: "Poppins", sans-serif;
}


.product-title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--azure);
}

.rating .stars i {
    font-size: 1.2rem;
    margin-right: 2px;
    transition: transform 0.2s ease-in-out;
}

.rating .stars i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.rating span {
    font-size: 0.9rem;
}


.branch {
    display: flex;
    flex-direction: column;
    color: red;
    font-weight: bold;
}

.product-details .product-price {
    color: var(--green);
    font-weight: bold;
    font-size: 2rem;
}

.btn-add {
    background-color: transparent;
    border: 3px solid var(--yellow);
    color: var(--yellow);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    transition: all 0.3s;
}

.btn-add:hover {
    background-color: var(--yellow);
    color: var(--white);
    transition: all 0.3s;
}

.btn-buy {
    background-color: transparent;
    border: 3px solid var(--green);
    color: var(--green);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    transition: all 0.3s;
}

.btn-buy:hover {
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
}

.qty-box {
    display: flex;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 8px;

}

.qty-btn {
    background: none;
    border: none;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.qty-input {
    border: none;
    text-align: center;
    width: 50px;
    background-color: transparent;
}


/* product image */
.product-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
    object-fit: cover;
}

.thumb-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.thumb-image:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* more details */
#details {
    width: 100%;
    height: auto;
}

.tab-container {
    border: 20px;
}

.tab-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(229, 229, 229);
    position: relative;
}

.content-box {
    padding: 20px;
}

.content-box .content {
    display: none;
    animation: moving 0.5s ease;
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.content-box .content.active {
    display: block;
}

.content-box .content p {
    color: var(--black);
    font-size: 18px;
    text-align: justify;
}

.tab-box {
    border-bottom: 2px solid var(--black);
}

.tab-box .tab-btn {
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}

.tab-box .tab-btn.active {
    color: var(--green);
}

.line {
    position: absolute;
    top: 62px;
    left: 42px;
    width: 160px;
    height: 5px;
    background-color: var(--green);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}


/* related items */
.related-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.related-card {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: var(--white);
}

.related-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.related-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.related-info {
    margin-left: 15px;
    flex-grow: 1;
}

.related-info h5 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.related-info p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.price {
    font-size: 1rem;
    font-weight: bold;
    color: var(--green);
}

/* SINGLE PRODUCT DETAILS */











/* FAQ */

.faq-header-section {
    height: 60vh;
    background-image: url(/assets/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;

    color: var(--white);
    text-align: center;

    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
    font-family: "Lilita One", sans-serif;
}

.faq-header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-header-section h1 {
    margin-top: 160px;
    font-size: 4rem;
    font-family: "Lilita One", sans-serif;
}

#faq {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.faq-container {
    position: relative;
    top: -190px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: var(--beige);
}

.faq-container h1,
h4 {
    font-family: "Fredoka", sans-serif;
}

.faq-box {
    padding: 10px;
    min-height: 80vh;
    font-family: "Fredoka", sans-serif;
}

.faq-text {
    text-align: center;
    margin-bottom: 30px;
}

.accordion-button {
    background-color: var(--cream);
    border: 2px solid var(--black);
    font-weight: bold;
    border-radius: 10px;
    box-shadow: none;
    height: 8vh;
    font-size: 22px;
    outline: none;
    color: var(--black);
}

.accordion-button:focus,
.accordion-button:active {
    background-color: var(--cream);
    border: 2px solid var(--black);
    box-shadow: none;
    outline: none;
    color: var(--black);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion-button:not(.collapsed) {
    background-color: var(--cream);
    border: 2px solid var(--black);
    box-shadow: none;
    color: var(--black);
}

.accordion-item {
    border: none;
    margin-bottom: 15px;
    background: transparent;
}

.accordion-body {
    background-color: var(--cream);
    border: 1px solid var(--black);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    color: var(--black);
}

/* FAQ */










/* CHECKOUT */

.checkout-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: "Poppins", sans-serif;
}

.checkout-form {
    flex: 2;
    background: var(--white);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.order-summary {
    flex: 1;
    background: var(--cream);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 20px;
    height: fit-content;
}

.checkout-wrapper h2 {
    color: var(--azure);
    margin-bottom: 15px;
}

.checkout-wrapper h3 {
    margin: 25px 0 10px;
    font-size: 1.1rem;
    color: var(--green);
}

.checkout-wrapper label {
    font-weight: 600;
    display: block;
    margin: 8px 0 6px;
}

.checkout-wrapper input,
.checkout-wrapper select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 0.95rem;
    margin-bottom: 15px;
    transition: 0.2s;
}

.checkout-wrapper input:focus {
    border-color: var(--green);
    box-shadow: 0 0 0 2px rgba(5, 130, 64, 0.1);
    outline: none;
}

.checkout-row {
    display: flex;
    gap: 15px;
}

.checkout-row .field {
    flex: 1;
}

.options {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.option-card {
    flex: 1;
    min-width: 120px;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid var(--mint);
    background: var(--white);
    cursor: pointer;
    transition: all 0.3s;
}

.checkout-wrapper input[type="radio"] {
    display: none;
}

.checkout-wrapper input[type="radio"]:checked+.option-card {
    background: var(--green);
    color: var(--white);
    border-color: var(--green);
}

.extra-form {
    display: none;
    margin-top: 10px;
    background: var(--beige);
    padding: 15px;
    border-radius: 12px;
}

.extra-form img.qr {
    max-width: 200px;
    margin: 10px 0;
    display: block;
}

.checkout-wrapper .proof-upload {
    margin-top: 10px;
}

.checkout-wrapper .preview {
    margin-top: 10px;
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    font-size: 0.95rem;
}

.checkout-wrapper .total {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--azure);
    border-top: 2px dashed #ccc;
    padding-top: 12px;
    margin-top: 15px;
}

.checkout-btn {
    width: 100%;
    padding: 16px;
    background: var(--yellow);
    color: var(--black);
    font-size: 1.05rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.checkout-btn:hover {
    background: var(--green);
    color: var(--white);
}


/* preview */
.upload-box {
    border: 2px dashed var(--mint);
    border-radius: 10px;
    background: var(--cream);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
    position: relative;
    overflow: hidden;
}

.upload-box p {
    margin: 0;
    color: var(--black);
    font-size: 0.95rem;
}

.upload-box img {
    display: none;
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 6px;
}

.proof-upload input[type="file"] {
    display: none;
}



/* CHECKOUT */