 @import url('colors.css');
 @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




 /* ======================================== ESSENTIALS ======================================== */
 /* ======================================== ESSENTIALS ======================================== */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 body {
     background-color: var(--beige);
 }


 /* NAVBAR */
 .navbar {
     padding: 22px 40px;
     transition: all 0.5s ease-in-out;
 }

 .navbar-brand img {
     height: 72px;
     width: auto;
     transition: all 0.5s ease-in-out;
 }

 .navbar .nav-item {
     font-size: 22px;
     font-family: "Lilita One", sans-serif;
     transition: all 0.5s ease-in-out;
 }

 .navbar .nav-link {
     color: var(--black);
     transition: color 0.3s ease-in-out;
 }

 .navbar .nav-link:hover {
     color: var(--green);
 }

 .cart-icon {
     font-size: 20px;
     color: var(--black);
     transition: color 0.3s ease-in-out;
 }

 .cart-icon:hover {
     color: var(--green);
 }

 .navbar-nav {
     gap: 50px;
     transition: gap 0.5s ease-in-out;
 }

 /* Transparent at top */
 .navbar-top {
     background: transparent;
     box-shadow: none;
 }

 /* Shrinked navbar when scrolling */
 .navbar-shrink {
     background: var(--cream);
     padding: 10px 30px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 .navbar-shrink .navbar-brand img {
     height: 50px;
 }

 .navbar-shrink .nav-item {
     font-size: 20px;
 }

 /* Cart Badge */
 .cart-badge {
     font-size: 11px;
     background: rgb(219, 41, 41);
     color: white;
     border-radius: 51%;
     padding: 1px 6px;
     position: absolute;
     top: -8px;
     right: -10px;
 }

 /* NAVBAR */












 /* Sidebar */
 .cart-sidebar {
     width: 400px;
     height: 100vh;
     background: var(--beige);
     position: fixed;
     top: 0;
     right: 0;
     transform: translateX(100%);
     transition: transform 0.4s ease;
     z-index: 1050;
     display: flex;
     flex-direction: column;
     box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
     font-family: "Poppins", sans-serif;
 }

 .cart-sidebar.active {
     transform: translateX(0);
 }

 /* header */
 .cart-header {
     padding: 1rem;
     background: var(--cream);
     color: var(--green);
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-family: "Lilita One", sans-serif;
     border-bottom: 2px solid var(--mint);
 }

 .cart-header h5 {
     margin: 0;
     font-size: 1.5rem;
 }

 .cart-header .close-btn {
     background: transparent;
     border: none;
     padding: 1px 5px;
     color: var(--green);
     font-size: 1.2rem;
     cursor: pointer;
 }

 /* body */
 .cart-body {
     flex: 1;
     overflow-y: auto;
     padding: 2rem 1rem;
 }



 /* item */
 .cart-item {
     display: flex;
     align-items: flex-start;
     margin-bottom: 1rem;
     gap: 0.5rem;
 }

 .cart-check {
     margin-top: 1.2rem;
 }

 .cart-img {
     width: 60x;
     height: 60px;
     border-radius: 8px;
     object-fit: cover;
     border: 2px solid var(--mint);
 }

 .item-info {
     flex: 1;
 }

 .item-info h6 {
     font-size: 0.95rem;
     margin-bottom: 0.3rem;
     font-weight: 600;
     color: var(--black);
 }

 .qty-controls {
     display: flex;
     align-items: center;
     gap: 0.5rem;
 }

 .btn-qty {
     width: 26px;
     height: 26px;
     border: 1px solid var(--yellow);
     border-radius: 6px;
     background: transparent;
     font-weight: bold;
     cursor: pointer;
     padding: 0;
 }

 .item-price {
     display: block;
     margin-top: 0.4rem;
     color: var(--green);
 }

 .cart-branch {
     font-size: 0.75rem;
     font-weight: bold;
     color: var(--azure);
 }

 .btn-delete {
     background: transparent;
     border: none;
     color: var(--yellow);
     font-size: 1.1rem;
     cursor: pointer;
     transition: transform 0.2s;
 }

 .btn-delete:hover {
     transform: scale(1.2);
 }

 /* footer */
 .cart-footer {
     padding: 1rem;
     background: var(--cream);
     border-top: 2px solid var(--mint);
 }

 .select-all {
     display: flex;
     align-items: center;
     gap: 0.5rem;
     font-weight: 600;
     color: var(--black);
     margin-bottom: 1rem;
 }

 .select-all label {
     font-weight: 600;
     color: var(--black);
     cursor: pointer;
 }

 .cart-footer .total {
     display: flex;
     justify-content: space-between;
     margin-bottom: 0.75rem;
     font-size: 1rem;
     font-weight: 600;
     color: var(--black);
 }

 .checkout-btn {
     width: 100%;
     padding: 0.8rem;
     background: transparent;
     color: var(--black);
     border: 3px solid var(--green);
     border-radius: 30px;
     font-weight: bold;
     cursor: pointer;
     transition: all 0.3s;
 }

 .checkout-btn:hover {
     background: var(--green);
     color: var(--white);
 }

 /* Scrollbar */
 .cart-body::-webkit-scrollbar {
     width: 6px;
 }

 .cart-body::-webkit-scrollbar-thumb {
     background: var(--mint);
     border-radius: 10px;
 }

 /* checklist */
 input[type="checkbox"] {
     appearance: none;
     -webkit-appearance: none;
     width: 18px;
     height: 18px;
     border: 1px solid var(--mint);
     border-radius: 4px;
     background: var(--white);
     cursor: pointer;
     position: relative;
     transition: all 0.2s ease;
     display: inline-block;
 }

 input[type="checkbox"]:checked {
     background: var(--green);
     border-color: var(--green);
 }

 input[type="checkbox"]:checked::after {
     content: "";
     position: absolute;
     top: 2px;
     left: 6px;
     width: 4px;
     height: 9px;
     border: solid var(--white);
     border-width: 0 2px 2px 0;
     transform: rotate(45deg);
 }

 input[type="checkbox"]:hover {
     border-color: var(--mint);
     box-shadow: 0 0 4px rgba(148, 197, 123, 1);
 }

 /* Overlay */
 .overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     display: none;
     z-index: 1040;
 }

 .overlay.active {
     display: block;
 }

 /* NAVBAR */





 /* HEADER */
 .header-section {
     background: var(--cream);
     position: relative;
     padding: 60px 16px 120px;
     overflow: hidden;
     font-family: "Lilita One", sans-serif;
 }


 .header-section .header-text {
     position: relative;
     z-index: 2;
     margin-top: 55px;
 }

 .header-section h1 {
     color: var(--green);
     margin: 0;
     font-size: clamp(50px, 8vw, 200px);
     /* for responsiveness */
     text-align: center;
 }

 .header-section h2 {
     color: var(--black);
     font-size: clamp(18px, 2.2vw, 50px);
     text-align: center;
 }

 .breadcrumb {
     display: flex;
     gap: 5px;
     justify-content: center;
     font-size: 18px;
     color: var(--black);
 }

 .breadcrumb a {
     text-decoration: none;
     color: var(--green);
 }

 .breadcrumb a:hover {
     text-decoration: underline;
 }

 .wave {
     position: absolute;
     left: 0;
     right: 0;
     bottom: -1px;
     width: 100%;
     height: 140px;
     display: block;
     z-index: 1;
 }

 /* responsive */
 @media (max-width: 767px) {
     .hero {
         padding-bottom: 90px;
         border-bottom-left-radius: 40px;
     }
 }

 /* HEADER */





 /* FOOTER */
 .footer-separator {
     width: 100%;
     height: 3px;
     background: linear-gradient(to right, #058240, #F3C301);
 }

 footer {
     background-color: var(--cream);
     background-image: url(/assets/leafff.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     font-family: "Poppins", sans-serif;
 }

 .footer-container {
     padding: 2rem 0;
 }

 .footer-container p {
     color: var(--black);
 }

 .footer-logo img {
     max-width: 200px;
 }

 /* Contact form */
 .contact-form input,
 .contact-form textarea,
 .contact-form select {
     border: 1px solid var(--mint);
     box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
     margin-bottom: 8px;
     padding: 5px 10px;
     font-size: 13px;
 }

 .contact-form input:focus,
 .contact-form textarea:focus,
 .contact-form select:focus {
     border-color: var(--green);
     outline: none;
     box-shadow: 0 0 6px rgba(19, 58, 25, 0.4);
 }

 .submit-btn {
     background-color: var(--green);
     border: none;
     color: var(--white);
     border-radius: 30px;
     padding: 5px 18px;
     transition: 0.3s;
     display: block;
     margin: 0 auto;
     font-family: "Lilita One", sans-serif;
 }

 .submit-btn:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 .footer-links {
     text-align: left;
 }

 .footer-links a {
     display: block;
     font-weight: 500;
     margin: 6px 0;
     text-decoration: none;
     color: var(--black);
     transition: color 0.3s;
 }

 .footer-links a:hover {
     transform: scale(1.02);
 }

 .contact-info {
     text-align: left;
 }

 .contact-info p {
     margin: 6px 0;
     font-weight: 500;
     color: var(--black);
 }

 .footer-title {
     color: var(--green);
     font-size: 25px;
     font-family: "Lilita One", sans-serif;
 }

 .footer-bottom {
     font-size: 13px;
     width: 100%;
     color: var(--black);
     border-top: 1px solid var(--green);
     padding: 0.2rem 0.2rem;
     text-align: center;
 }

 .footer-bottom a,
 .footer-bottom p {
     text-decoration: none;
     color: var(--black);
     margin: 0;
 }

 .footer-bottom a:hover {
     text-decoration: underline;
 }


 .hours {
     display: flex;
     flex-direction: column;
     gap: 1px;
 }

 /* FOOTER */


 /* UP BUTTON */
 #backToTop {
     position: fixed;
     bottom: 30px;
     right: 30px;
     background-color: var(--yellow);
     color: var(--white);
     border: none;
     border-radius: 50%;
     width: 55px;
     height: 55px;
     font-size: 22px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
     opacity: 0;
     pointer-events: none;
     transform: translateY(30px);
     transition: opacity 0.4s ease, transform 0.4s ease;
     animation: bounce 2s infinite;
 }

 /* Show animation */
 #backToTop.show {
     opacity: 1;
     pointer-events: auto;
     transform: translateY(0);
 }

 /* Hover effect */
 #backToTop:hover {
     transform: scale(1.15);
     background: #046c34;
 }

 /* Bounce animation */
 @keyframes bounce {

     0%,
     100% {
         transform: translateY(0);
     }

     50% {
         transform: translateY(-8px);
     }
 }

 /* UP BUTTON */




 /* RESPONSIVENESS */
 @media (max-width: 768px) {

     /* HEADER */
     .header-section {
         padding: 90px 16px 120px 16px;
     }

     .breadcrumb {
         font-size: 15px;
     }





     /* FOOTER */
     .footer-container {
         padding: 2rem 3rem;
         display: flex;
         flex-direction: column;
         gap: 20px;
     }

     .footer-logo img {
         max-width: 200px;
     }

     /* Contact form */
     .contact-form input,
     .contact-form textarea,
     .contact-form select {
         padding: 5px 10px;
         font-size: 12px;
     }

     .footer-links {
         text-align: center;
         font-size: 15px;
     }

     .contact-info {
         text-align: center;
         font-size: 15px;
     }

     .footer-title {
         font-size: 22px;
     }

     .footer-bottom {
         font-size: 12px;
         padding: 0.2rem 0.2rem;
     }




     /* UP BUTTON */
     #backToTop {
         width: 45px;
         height: 45px;
         font-size: 18px;
     }
 }

 /* RESPONSIVENESS */


 /* ======================================== ESSENTIALS ======================================== */
 /* ======================================== ESSENTIALS ======================================== */












 /* ======================================== HOME PAGE ======================================== */
 /* ======================================== HOME PAGE ======================================== */

 /* HERO */
 .home-header-section {
     position: relative;
     overflow: hidden;
     font-family: "Lilita One", sans-serif;
 }


 .home-header-section .header-text {
     position: relative;
     z-index: 2;
     margin-top: 100px;
     height: 25vh;
 }

 .home-header-section h1 {
     color: var(--green);
     margin: 0;
     padding: 0;
     font-size: 222px;
     /* for responsiveness */
     text-align: center;
 }

 .home-header-section span {
     color: var(--yellow)
 }


 .home-hero {
     font-family: "Poppins", sans-serif;
 }

 .home-image {
     display: flex;
     justify-content: center;
 }

 .images-container {
     padding: 0 20px;
     display: flex;
     gap: 15px;
     justify-content: center;
 }

 .img-home {
     position: relative;
     flex: 1 1 30%;
     height: 60vh;
     border-radius: 15px;
     overflow: hidden;
     background: #ccc;
     /* fallback color */
     box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
     cursor: pointer;
     transition: all 0.3s;
 }

 .img-home:hover {
     transform: scale(1.02);
     box-shadow: 0 4px 18px rgba(5, 130, 64, 1);
 }

 .img-home img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
 }

 .img-home i {
     position: absolute;
     top: 5px;
     right: 15px;
     font-size: 50px;
     color: white;
 }

 /* Text at bottom-left */
 .img-home .card-text {
     position: absolute;
     bottom: 20px;
     left: 15px;
     color: var(--white);
     font-weight: bold;
     font-size: 50px;
     line-height: 1.2;
     text-transform: uppercase;
 }

 /* HERO */









 /* FEATURED */
 .featured-products {
     font-family: "Poppins", sans-serif;
     background-color: var(--green);
     padding: 7rem 0 9rem 0;
 }

 .featured-products h1 {
     text-align: center;
     color: var(--white);
     font-family: "Lilita One", sans-serif;
     font-size: 5rem;

 }

 .card-container {
     display: flex;
     gap: 15px;
     justify-content: center;
     flex-wrap: nowrap;
 }

 .card-custom {
     border-radius: 15px;
     overflow: hidden;
     position: relative;
     text-align: center;
     color: white;
     cursor: pointer;
     transition: 0.3s ease-in-out;
     box-shadow: 0 4px 18px rgba(0, 0, 0, 0.3);
 }

 .card-custom img {
     width: 100%;
     height: 380px;
     object-fit: cover;
     transition: 0.3s ease-in-out;
     filter: brightness(75%);
     /* Slightly dark by default */
 }

 .card-custom:hover img {
     filter: brightness(100%);
     transform: scale(1.03);
 }

 .card-custom .card-text {
     position: absolute;
     bottom: 15px;
     left: 0;
     right: 0;
     font-size: 2rem;
     text-transform: uppercase;
     text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
     font-family: "Lilita One", sans-serif;
 }

 .view-btn {
     border-radius: 50px;
     align-items: center;
     padding: 12px 50px;
     background-color: transparent;
     border: 2px solid var(--black);
     background-color: var(--yellow);
     color: var(--black);
     transition: all 0.3s;
     font-family: 'Lilita One', sans-serif;
     font-size: 20px;
 }

 .view-btn:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }


 /* FEATURED */











 /* DELIVERY OR PICKUP */
 #del-pick {
     font-family: 'Lilita One', sans-serif;
     padding: 100px 0;
 }

 .del-pick {
     padding: 0 3rem;
     display: flex;
     justify-content: center;
     flex-wrap: nowrap;
 }

 .del-pick-text {
     width: 50%;
 }

 .del-pick h1 {
     font-size: 10rem;
     text-align: left;
     padding: 0;
     margin: 0;
     line-height: 1;
     color: var(--green);
     /* -webkit-text-stroke: 10px black;
     paint-order: stroke fill; */
 }

 .text-button {
     display: flex;
     gap: 20px;
 }

 .del-pick p {
     font-size: 30px;
     color: var(--black);
 }

 .image-container {
     display: flex;
     justify-content: center;
     width: 50%;
     z-index: -1;
 }


 .text-button .view-btn {
     border-radius: 50px;
     align-items: center;
     padding: 10px 50px;
     background-color: transparent;
     border: none;
     background-color: var(--green);
     color: var(--white);
     transition: all 0.3s;
     font-family: 'Lilita One', sans-serif;
     font-size: 30px;
 }

 .text-button .view-btn:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 /* DELIVERY OR PICKUP */











 /* WHY IS IT GOOD */
 #reasons {
     background-color: var(--green);
     font-family: "Lilita One", sans-serif;
     padding: 2rem 0 3rem 0;
 }

 #reasons h1 {
     color: var(--white);
     font-size: 5rem;
 }

 .perks {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     text-align: center;

 }

 .perks i {
     font-size: 50px;
     color: var(--yellow);
     margin-bottom: 15px;
 }

 .perks h3 {
     color: var(--yellow);
     text-align: center;
     text-transform: uppercase;
 }

 .perks p {
     color: var(--white);
     font-family: "Poppins", sans-serif;
     align-items: center;

 }

 /* WHY IS IT GOOD */











 /* ABOUT */

 #about {
     font-family: 'Lilita One', sans-serif;
     text-align: center;
     padding: 2rem 0 3rem 0;
 }

 .about-us {
     padding: 5rem 3rem;
 }

 #about h1 {
     font-size: 5rem;
     padding: 0 20rem;
     text-align: center;
     margin-bottom: 20px;
     color: var(--green);
 }

 .learn-more-btn {
     border-radius: 50px;
     align-items: center;
     padding: 12px 50px;
     background-color: transparent;
     border: 2px solid var(--black);
     background-color: var(--yellow);
     color: var(--black);
     transition: all 0.3s;
     font-family: 'Lilita One', sans-serif;
     font-size: 20px;
     text-decoration: none;
 }

 .learn-more-btn:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 /* slider container */
 .about-us .slider {
     position: relative;
     display: flex;
     align-items: left;
     overflow: hidden;
     padding: 1rem;
 }

 .about-us .slider-track {
     display: flex;
     transition: transform 0.5s ease-in-out;
 }

 .about-us .slide {
     width: 60rem;
     height: 70vh;
     margin-right: 20px;
     border-radius: 15px;
     overflow: hidden;
     flex-shrink: 0;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
 }

 .about-us .slide img {
     width: 100%;
     height: auto;
     object-fit: cover;
     display: block;

 }

 /* Arrows */
 .about-us .slider-controls {
     display: flex;
     justify-content: center;
     margin-top: 15px;
     gap: 10px;
 }

 .about-us .arrow {
     background: var(--green);
     color: var(--white);
     border: none;
     padding: 10px 15px;
     border-radius: 50%;
     font-size: 18px;
     cursor: pointer;
     transition: 0.3s;
 }

 .about-us .arrow:hover {
     background-color: var(--yellow);
 }



 /* ABOUT */







 /* ======================================== HOME PAGE ======================================== */
 /* ======================================== HOME PAGE ======================================== */




















 /* ======================================== ABOUT PAGE ======================================== */
 /* ======================================== ABOUT PAGE ======================================== */

 #story {
     font-family: 'Poppins', sans-serif;
     padding: 3rem 0;
 }

 #story h1 {
     color: var(--green);
     font-family: 'Lilita One', sans-serif;
     font-size: 50px;
     line-height: 50px;
     text-transform: uppercase;
     text-align: center;
 }

 #story p {
     font-size: 20px;
     text-align: justify;
     padding: 0.5rem;
 }

 .quotes {
     display: flex;
     justify-content: space-evenly;
     gap: 20px;

 }

 .quotes i {
     font-size: 60px;
     color: var(--black);
 }


 /* right turn */
 .story-container .right-image {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 40vh;
     overflow: hidden;
     margin-bottom: 1rem;
     padding: 1rem;
     transform: rotate(2deg);
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
 }

 .story-container .right-image img {
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: cover;
     border: 10px solid var(--white);
     opacity: 0;
     transition: opacity 0.6s ease-in-out;
 }

 .story-container .right-image img.active {
     opacity: 1;
     z-index: 1;
 }


 /* left turn */
 .story-container .left-image {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 40vh;
     overflow: hidden;
     margin-bottom: 1rem;
     padding: 1rem;
     transform: rotate(-2deg);
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
 }

 .story-container .left-image img {
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: cover;
     border: 10px solid var(--white);
     opacity: 0;
     transition: opacity 0.6s ease-in-out;
 }

 .story-container .left-image img.active {
     opacity: 1;
     z-index: 1;
 }



 /* arrows */
 .story-container .slider-controls {
     display: flex;
     justify-content: center;
     gap: 1rem;
 }

 .story-container .slider-controls button {
     background: var(--green);
     color: var(--white);
     border: none;
     padding: 0.6rem 1rem;
     border-radius: 50%;
     cursor: pointer;
     transition: background 0.3s;
 }

 .story-container .slider-controls button:hover {
     background: var(--black);
 }



 /* cta shop */
 #cta-buy {
     background-color: var(--green);
     font-family: 'Lilita One', sans-serif;
     padding: 5rem 20rem;
     text-align: center;
 }

 #cta-buy h1 {
     font-size: 80px;
     color: var(--yellow);
     text-align: center;
 }

 #cta-buy p {
     font-size: 20px;
     padding: 0 10rem;
     color: var(--white);
     font-family: 'Poppins', sans-serif;
 }





 /* teams */
 .teams {
     padding: 0 8rem;
 }

 #teams {
     font-family: 'Poppins', sans-serif;
     padding: 3rem 10rem 5rem 10rem;
 }

 .cards-container {
     display: flex;
     justify-content: center;
     gap: 30px;
 }

 .teams-container h1 {
     font-family: 'Lilita One', sans-serif;
     font-size: 80px;
     text-align: center;
 }

 .teams-container .member-image {
     background-color: var(--white);
     border-radius: 15px;
     width: 400px;
     height: 55vh;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
 }














 /* ======================================== ABOUT PAGE ======================================== */
 /* ======================================== ABOUT PAGE ======================================== */































 /* ======================================== PRODUCTS PAGE ======================================== */
 /* ======================================== PRODUCTS PAGE ======================================== */

 /* PRODUCTS */
 .product-section {
     min-height: 80vh;
     background-color: var(--beige);
     font-family: "Poppins", sans-serif;
 }

 /* filter */
 .filter-bar {
     padding: 12px 25px;
     border-bottom: 3px solid var(--green);
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .filter-bar button {
     font-size: 0.95rem;
 }

 .filter-label {
     font-weight: bold;
     margin-right: 15px;
     font-size: 0.95rem;
     color: var(--black);
 }

 .filter-options {
     display: flex;
     gap: 25px;
     align-items: center;
 }

 .dropdown-toggle {
     border: none;
     background: transparent;
     font-weight: 500;
     font-size: 0.95rem;
     color: #000;
     display: flex;
     align-items: center;
     gap: 5px;
 }

 .dropdown-toggle::after {
     display: none;
 }

 .dropdown-menu {
     border-radius: 10px;
     border: 1px solid var(--ashgrey);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
     background-color: var(--white);
 }

 .dropdown-item {
     font-size: 0.9rem;
     padding: 8px 15px;
     cursor: pointer;
 }

 .dropdown-item:hover {
     background-color: var(--mint);
     color: var(--white);
 }

 .product-count {
     font-weight: bold;
     font-size: 0.95rem;
 }

 /* filter */

 /* products */

 .product-card {
     border-radius: 12px;
     overflow: hidden;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
     transition: transform 0.2s ease, box-shadow 0.2s ease;
     min-height: 45vh;
 }

 .product-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
 }

 .product-card .card-body {
     align-items: center;
     display: flex;
     flex-direction: column;
 }

 .product-card .product-price {
     font-weight: bold;
     font-size: 1.5rem;
     color: var(--yellow);
 }

 .btn-view {
     width: 53%;
     border-radius: 20px;
     padding: 5px 20px;
     background-color: transparent;
     border: 2px solid var(--green);
     color: var(--green);
     transition: all 0.3s;
     font-family: 'Lilita One', sans-serif;
 }

 .btn-view:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 .btn-add-to-cart {
     width: 53%;
     border-radius: 20px;
     padding: 5px 20px;
     background-color: var(--green);
     border: none;
     color: var(--white);
     transition: all 0.3s;
     font-family: 'Lilita One', sans-serif;
 }

 .btn-add-to-cart:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 /* PRODUCTS */












 /* BRANDING */
 #branding-section {
     font-family: "Poppins", sans-serif;
 }

 .branding {
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: center;
 }

 .branding i {
     font-weight: bold;
     font-size: 50px;
     color: var(--green);
 }

 .branding h2 {
     text-align: center;
     font-size: 30px;
     font-family: "Lilita One", sans-serif;
     text-transform: uppercase;
     margin: 15px 0;
     color: var(--green);
 }

 .branding p {
     text-align: center;
     font-size: 15px;
     margin-top: auto;
     color: var(--black);
 }

 /* BRANDING */











 /* PAGINATION */

 .pagination .page-item {
     margin: 0 5px;
 }

 .pagination .page-link {
     border-radius: 25px;
     padding: 6px 13px;
     font-weight: 500;
     font-size: 0.95rem;
     border: 1px solid var(--green);
     color: var(--green);
     background-color: transparent;
     box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
     transition: all 0.3s ease;
 }

 .pagination .page-link:hover {
     transform: translateY(-2px);
     background-color: var(--green);
     color: var(--white);
 }

 .pagination .active .page-link {
     background-color: var(--green);
     border-color: var(--green);
     color: var(--white);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
 }

 .pagination .disabled .page-link {
     color: var(--black);
     border-color: var(--black);
     background-color: transparent;
     box-shadow: none;
     cursor: not-allowed;
 }


 /* PAGINATION */






 /* REPONSIVENESS */
 @media (max-width: 768px) {

     /* FILTER */
     .filter-bar {
         padding: 12px 25px;
         display: flex;
         align-items: center;
         justify-content: space-between;
     }

     .filter-bar button {
         font-size: 12px;
         display: flex;
         gap: 2px;
     }

     .filter-bar i {
         font-size: 5px;
     }

     .filter-label {
         font-weight: bold;
         margin-right: 15px;
         font-size: 12px;
     }

     .filter-options {
         display: flex;
         gap: 8px;
         align-items: center;
     }

     .dropdown-item {
         font-size: 12px;
         padding: 8px 15px;
     }

     .product-count {
         font-weight: bold;
         font-size: 12px;
     }





     /* PRODUCTS */
     .products-container {
         padding: 0 50px;
     }

     .product-card {
         border-radius: 12px;
         overflow: hidden;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
         transition: transform 0.2s ease, box-shadow 0.2s ease;
         min-height: 40vh;
     }

     .product-card .card-body {
         align-items: center;
         display: flex;
         flex-direction: column;
     }

     .card-body .card-title {
         font-size: 1rem;
     }

     .product-card .product-price {
         font-weight: bold;
         font-size: 1rem;
         color: var(--yellow);
     }

     .btn-view {
         width: 40%;
         border-radius: 20px;
         padding: 5px 20px;
         font-size: 0.8rem;
     }

     .btn-add-to-cart {
         width: 40%;
         border-radius: 20px;
         padding: 5px 20px;
         font-size: 0.8rem;
     }




     /* BRANDING */
     #branding-section {
         padding: 0 50px;
     }

     .branding {
         display: flex;
         flex-direction: column;
         justify-content: start;
         align-items: center;
     }

     .branding i {
         font-size: 40px;
     }

     .branding h2 {
         font-size: 20px;
     }

     .branding p {
         text-align: center;
         font-size: 15px;
         margin-top: auto;
         color: var(--black);
     }



     /* PAGINATION */
     .pagination .page-item {
         margin: 0 4px;
     }

     .pagination .page-link {
         border-radius: 25px;
         padding: 6px 11px;
         font-weight: 500;
         font-size: 12px;
     }

 }

 /* REPONSIVENESS */

 /* ======================================== PRODUCTS PAGE ======================================== */
 /* ======================================== PRODUCTS PAGE ======================================== */






























 /* ======================================== SINGLE PRODUCT PAGE ======================================== */
 /* ======================================== SINGLE PRODUCT PAGE ======================================== */

 /* SINGLE PRODUCT DETAILS */
 .sp-navbar {
     background-color: var(--cream);
 }

 #single-product {
     font-family: "Poppins", sans-serif;
 }

 .sp-header-section {
     height: 10vh;
 }

 .product-container {
     padding: 0 10rem;
 }


 .product-title {
     text-transform: uppercase;
     color: var(--black);
     font-family: "Lilita One", sans-serif;
     font-size: 60px;
 }

 .rating .stars i {
     font-size: 1.2rem;
     margin-right: 2px;
     transition: transform 0.2s ease-in-out;
 }

 .rating .stars i:hover {
     transform: scale(1.2);
     cursor: pointer;
 }

 .rating span {
     font-size: 0.9rem;
 }

 .description {
     color: black;
 }

 .product-details .product-price {
     color: var(--yellow);
     font-weight: bold;
     font-size: 2.3rem;
 }

 .btn-add {
     background-color: transparent;
     border: 2px solid var(--green);
     color: var(--green);
     font-weight: bold;
     padding: 12px 40px;
     border-radius: 30px;
     transition: all 0.3s;
 }

 .btn-add:hover {
     background-color: var(--green);
     color: var(--white);
     transition: all 0.3s;
 }

 .qty-box {
     display: inline-flex;
     align-items: center;
     gap: 5px;
     background-color: none;
     border-radius: 50px;
     padding: 6px 10px;
     border: 2px dashed var(--green);
     position: relative;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
 }

 .qty-btn {
     background: none;
     color: var(--green);
     border: 2px solid var(--green);
     width: 30px;
     height: 30px;
     border-radius: 50%;
     font-size: 22px;
     font-weight: bold;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     transition: all 0.25s ease;
 }

 .qty-btn:hover {
     background: var(--green);
     color: var(--white);
 }

 .qty-input {
     width: 55px;
     text-align: center;
     border: none;
     background: transparent;
     font-size: 18px;
     font-weight: 700;
     color: var(--black);
 }






 /* product image */
 .product-image {
     border-radius: 10px;
     width: 100%;
     height: 100%;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
     transition: opacity 0.5s ease-in-out;
     object-fit: cover;
 }

 .thumb-image {
     width: 100%;
     height: 120px;
     object-fit: cover;
     border-radius: 8px;
     cursor: pointer;
     transition: transform 0.3s ease-in-out, box-shadow 0.3s;
 }

 .thumb-image:hover {
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
 }


 /* more details */
 #details {
     width: 100%;
     height: auto;
 }

 .tab-box {
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     border-bottom: 2px solid rgba(229, 229, 229);
     position: relative;
 }

 .content-box {
     padding: 20px;
 }

 .content-box .content {
     display: none;
     animation: moving 0.5s ease;
 }

 @keyframes moving {
     from {
         transform: translateX(50px);
         opacity: 0;
     }

     to {
         transform: translateX(0px);
         opacity: 1;
     }
 }

 .content-box .content.active {
     display: block;
 }

 .content-box .content p {
     color: var(--black);
     font-size: 18px;
     text-align: justify;
 }

 .tab-box {
     border-bottom: 2px solid var(--black);
 }

 .tab-box .tab-btn {
     font-size: 18px;
     color: var(--black);
     background: none;
     border: none;
     padding: 18px;
     cursor: pointer;
     font-family: "Lilita One", sans-serif;
 }

 .tab-box .tab-btn.active {
     color: var(--green);
 }

 .line {
     position: absolute;
     top: 62px;
     left: 64px;
     width: 160px;
     height: 5px;
     background-color: var(--green);
     border-radius: 10px;
     transition: all 0.3s ease-in-out;
 }


 /* related items */
 .related-items {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .related-items h3 {
     font-family: 'Lilita One', sans-serif;
 }

 .related-card {
     width: 80%;
     display: flex;
     align-items: center;
     border: 1px solid #eee;
     border-radius: 12px;
     padding: 15px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
     text-decoration: none;
     color: inherit;
     transition: transform 0.2s ease, box-shadow 0.2s ease;
     background-color: var(--white);
 }

 .related-card:hover {
     transform: translateY(-3px);
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
 }

 .related-card img {
     width: 100px;
     height: 100px;
     object-fit: cover;
     border-radius: 10px;
 }

 .related-info {
     margin-left: 15px;
     flex-grow: 1;
 }

 .related-info h5 {
     font-size: 1.1rem;
     font-weight: 600;
     margin-bottom: 5px;
 }

 .related-info p {
     font-size: 0.9rem;
     color: #666;
     margin-bottom: 10px;
 }

 .price {
     font-size: 1rem;
     font-weight: bold;
     color: var(--green);
 }

 /* SINGLE PRODUCT DETAILS */

 /* ======================================== SINGLE PRODUCT PAGE ======================================== */
 /* ======================================== SINGLE PRODUCT PAGE ======================================== */

























 /* ======================================== FAQ PAGE ======================================== */
 /* ======================================== FAQ PAGE ======================================== */

 /* FAQ */
 #faq {
     font-family: 'Poppins', sans-serif;
     padding-bottom: 50px;
 }

 .faq-container {
     box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
     border-radius: 20px;
     background-color: var(--white);
     padding: 30px 50px;
 }

 .faq-container h1,
 h4 {
     font-family: "Lilita One", sans-serif;
 }


 .faq-text {
     text-align: center;
     margin-bottom: 30px;
 }

 .accordion-button {
     background-color: var(--green);
     border: 2px solid var(--black);
     font-weight: bold;
     border-radius: 10px;
     box-shadow: none;
     height: 8vh;
     font-size: 20px;
     outline: none;
     color: var(--white);
 }

 .accordion-button:focus,
 .accordion-button:active {
     background-color: var(--green);
     border: 2px solid var(--black);
     box-shadow: none;
     outline: none;
     color: var(--black);
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
     color: var(--white);
 }

 .accordion-button:not(.collapsed) {
     background-color: var(--green);
     border: 2px solid var(--black);
     box-shadow: none;
     color: var(--black);
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
     color: var(--white);
 }

 .accordion-item {
     border: none;
     margin-bottom: 15px;
     background: transparent;
 }

 .accordion-body {
     background-color: var(--mint);
     border: 1px solid var(--black);
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     padding: 15px;
     color: var(--black);
 }

 /* FAQ */




 /* VINE SEPARATOR */
 .wave-transition1 {
     position: relative;
     width: 100%;
     height: 50px;
     line-height: 0;
     overflow: hidden;
 }

 .wave-transition1 svg {
     display: block;
     width: 100%;
     height: 100%;
 }

 .wave-transition2 {
     position: relative;
     top: -40px;
     width: 100%;
     height: 50px;
     line-height: 0;
     overflow: hidden;
 }

 .wave-transition2 svg {
     display: block;
     width: 100%;
     height: 100%;
 }



 /* VINE SEPARATOR */





 /* FAQ CONTACT US */


 /* form */
 #inquiry {
     background-color: var(--green);
     padding: 3rem 0 5rem 0;
 }

 .inquiry-container {
     font-family: "Poppins", sans-serif;
     padding: 30px 0;
 }

 .inquiry-container h1 {
     font-family: "Lilita One", sans-serif;
     color: var(--white);
 }


 .inquiry-container h2 {
     font-size: 18px;
     font-weight: 500;
     text-align: left;
     color: var(--yellow);
 }

 .inquiry-container .form-control,
 .inquiry-container .form-select,
 .inquiry-container textarea {
     border: 2px solid var(--black);
     padding: 12px 15px;
     font-size: 14px;
 }

 .inquiry-container .form-control:focus,
 .inquiry-container .form-select:focus,
 textarea:focus {
     box-shadow: 2px 2px 5px var(--black);
     border: 1px solid var(--black);
 }

 .inquiry-container .btn-submit {
     background-color: var(--yellow);
     border: 2px solid var(--black);
     padding: 12px 35px;
     border-radius: 300px;
     color: var(--black);
     cursor: pointer;
     transition: 0.3s ease-in-out;
     display: block;
     margin: 20px auto 0 auto;
     transition: all 0.3s;
     font-family: "Lilita One", sans-serif;
 }

 .inquiry-container .btn-submit:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }


 .inquiry-container .input-group-text {
     background-color: #fff;
     border: 2px solid var(--black);
     border-right: none;
 }

 .inquiry-container .input-group i {
     color: var(--black);
 }

 .inquiry-container .input-group .form-control,
 .inquiry-container .input-group .form-select {
     border-left: none;
 }

 /* contact logo */
 .inquiry-container .contact-logo {
     display: flex;
     justify-content: right;
 }

 .inquiry-container .contact-logo img {
     position: relative;
     width: 90%;
 }

 /* FAQ CONTACT US */

 /* ======================================== FAQ PAGE ======================================== */
 /* ======================================== FAQ PAGE ======================================== */




















 /* ======================================== CHECKOUT PAGE ======================================== */
 /* ======================================== CHECKOUT PAGE ======================================== */

 /* CHECKOUT */

 .checkout-wrapper {
     display: flex;
     justify-content: center;
     gap: 30px;
     max-width: 1200px;
     margin: 40px auto;
     padding: 0 20px;
     font-family: "Poppins", sans-serif;
 }

 .checkout-form {
     flex: 2;
     background: var(--white);
     border-radius: 20px;
     padding: 30px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
 }

 .order-summary {
     flex: 1;
     background: var(--cream);
     border-radius: 20px;
     padding: 25px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
     position: sticky;
     top: 20px;
     height: fit-content;
 }

 .checkout-wrapper h2 {
     color: var(--azure);
     margin-bottom: 15px;
 }

 .checkout-wrapper h3 {
     margin: 25px 0 10px;
     font-size: 1.1rem;
     color: var(--green);
 }

 .checkout-wrapper label {
     font-weight: 600;
     display: block;
     margin: 8px 0 6px;
 }

 .checkout-wrapper input,
 .checkout-wrapper select {
     width: 100%;
     padding: 12px;
     border: 1px solid #ddd;
     border-radius: 10px;
     font-size: 0.95rem;
     margin-bottom: 15px;
     transition: 0.2s;
 }

 .checkout-wrapper input:focus {
     border-color: var(--green);
     box-shadow: 0 0 0 2px rgba(5, 130, 64, 0.1);
     outline: none;
 }

 .checkout-row {
     display: flex;
     gap: 15px;
 }

 .checkout-row .field {
     flex: 1;
 }

 .options {
     display: flex;
     gap: 15px;
     margin-top: 10px;
     flex-wrap: wrap;
 }

 .option-card {
     flex: 1;
     min-width: 120px;
     text-align: center;
     padding: 12px;
     border-radius: 12px;
     border: 2px solid var(--mint);
     background: var(--white);
     cursor: pointer;
     transition: all 0.3s;
 }

 .checkout-wrapper input[type="radio"] {
     display: none;
 }

 .checkout-wrapper input[type="radio"]:checked+.option-card {
     background: var(--green);
     color: var(--white);
     border-color: var(--green);
 }

 .extra-form {
     display: none;
     margin-top: 10px;
     background: var(--beige);
     padding: 15px;
     border-radius: 12px;
 }

 .extra-form img.qr {
     max-width: 200px;
     margin: 10px 0;
     display: block;
 }

 .checkout-wrapper .proof-upload {
     margin-top: 10px;
 }

 .checkout-wrapper .preview {
     margin-top: 10px;
     max-width: 200px;
     border: 1px solid #ccc;
     border-radius: 8px;
     display: none;
 }

 .summary-item {
     display: flex;
     justify-content: space-between;
     margin: 12px 0;
     font-size: 0.95rem;
 }

 .checkout-wrapper .total {
     font-size: 1.2rem;
     font-weight: bold;
     color: var(--azure);
     border-top: 2px dashed #ccc;
     padding-top: 12px;
     margin-top: 15px;
 }

 .checkout-btn {
     width: 100%;
     padding: 16px;
     background: var(--yellow);
     color: var(--black);
     font-size: 1.05rem;
     font-weight: bold;
     border: none;
     border-radius: 12px;
     cursor: pointer;
     transition: 0.3s;
 }

 .checkout-btn:hover {
     background: var(--green);
     color: var(--white);
 }


 /* preview */
 .upload-box {
     border: 2px dashed var(--mint);
     border-radius: 10px;
     background: var(--cream);
     padding: 20px;
     text-align: center;
     cursor: pointer;
     transition: background 0.3s, border-color 0.3s;
     position: relative;
     overflow: hidden;
 }

 .upload-box p {
     margin: 0;
     color: var(--black);
     font-size: 0.95rem;
 }

 .upload-box img {
     display: none;
     max-width: 100%;
     max-height: 200px;
     object-fit: contain;
     border-radius: 6px;
 }

 .proof-upload input[type="file"] {
     display: none;
 }



 /* CHECKOUT */

 /* ======================================== CHECKOUT PAGE ======================================== */
 /* ======================================== CHECKOUT PAGE ======================================== */






















 /* ======================================== CONTACT PAGE ======================================== */
 /* ======================================== CONTACT PAGE ======================================== */


 /* CONTACT US */

 /* form */
 .contact-container {
     font-family: "Poppins", sans-serif;
 }

 .contact-container h1 {
     font-family: "Lilita One", sans-serif;
     color: var(--green);
 }


 .contact-container h2 {
     font-size: 18px;
     font-weight: 500;
     text-align: left;
 }

 .contact-container .form-control,
 .contact-container .form-select,
 .contact-container textarea {
     border: 1px solid var(--mint);
     padding: 12px 15px;
     font-size: 14px;
 }

 .contact-container .form-control:focus,
 .contact-container .form-select:focus,
 textarea:focus {
     box-shadow: 2px 2px 5px var(--mint);
     border: 1px solid var(--green);
 }

 .contact-container .btn-submit {
     background-color: var(--green);
     border: none;
     padding: 12px 35px;
     border-radius: 300px;
     color: white;
     cursor: pointer;
     transition: 0.3s ease-in-out;
     display: block;
     margin: 20px auto 0 auto;
     font-family: "Lilita One", sans-serif;
     transition: all 0.3s;
 }

 .contact-container .btn-submit:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }


 .input-group-text {
     background-color: #fff;
     border: 1px solid var(--mint);
     border-right: none;
 }

 .input-group i {
     color: var(--green);
 }

 .input-group .form-control,
 .input-group .form-select {
     border-left: none;
 }

 /* contact logo */
 .contact-logo {
     display: flex;
     justify-content: right;
 }

 .contact-logo img {
     position: relative;
     width: 90%;
 }

 /* CONTACT US */





 /* STORE DETAILS */
 #store-details {
     background-color: var(--green);
     padding: 3rem 0 6rem 0;
 }

 .store-details h2 {
     font-size: 5rem;
     color: var(--white);
     font-family: "Lilita One", sans-serif;
     text-align: center;
 }

 .store-details .carousel-inner {
     padding: 20px;
     background-color: #035f2e;
     border-radius: 20px;
     height: auto;
 }

 .store-details .store-card {
     border-radius: 16px;
     overflow: hidden;
     background: var(--white);
     box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     height: 100%;
     font-family: "Poppins", sans-serif;
 }

 .store-details .store-card:hover {
     transform: translateY(-6px);
 }

 .store-details .card-header-bar {
     background: var(--yellow);
     padding: 1rem;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 15vh;
 }

 .store-details .card-header-bar i {
     font-size: 5rem;
     color: var(--black);
 }

 .store-details .card-body {
     padding: 1.2rem;
     text-align: center;
 }

 .store-details .store-name {
     font-weight: 700;
     color: var(--green);
     font-size: 1.2rem;
     margin-bottom: 0.8rem;
     text-align: center;
 }

 .store-details .store-info {
     font-size: 0.9rem;
     color: var(--black);
     margin: 0.3rem 0;
     border-bottom: 1px solid var(--black);
 }

 /* Social Icons */
 .store-details .social-icons {
     margin-top: 1rem;
     display: flex;
     justify-content: center;
     gap: 12px;
 }

 .store-details .social-icons a {
     color: var(--green);
     font-size: 1.2rem;
     transition: color 0.3s ease;
 }

 .store-details .social-icons a:hover {
     color: var(--yellow);
 }


 .store-details .carousel-control-prev,
 .store-details .carousel-control-next {
     width: 50px;
     height: 50px;
     top: 45%;
     background-color: var(--white);
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--black);
     font-size: 2rem;
     z-index: 10;
 }

 .store-details .carousel-control-prev {
     left: -60px;
 }

 .store-details .carousel-control-next {
     right: -60px;
 }

 .store-details .carousel-control-prev:hover,
 .store-details .carousel-control-next:hover {
     background-color: var(--white);
     color: var(--black);
 }

 /* STORE DETAILS */





 /* LOCATION */
 .location h2 {
     text-align: center;
     color: var(--green);
     font-family: "Lilita One", sans-serif;
 }

 .map-container {
     width: 100%;
     height: 500px;
     position: relative;
     border-radius: 0;
     overflow: hidden;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
 }

 .map-container iframe {
     width: 100%;
     height: 100%;
     border: 0;
     position: absolute;
     top: 0;
     left: 0;
 }

 /* LOCATION */





 /* RESPONSIVENESS */
 @media (max-width: 768px) {

     /* CONTACT FORM */
     .contact-container {
         padding: 0 50px;
     }

     .contact-container h1 {
         text-align: center;
     }


     .contact-container h2 {
         font-size: 12px;
         font-weight: 500;
         text-align: center;
     }

     .contact-container .form-control,
     .contact-container .form-select,
     .contact-container textarea {
         font-size: 12px;
     }

     .input-group i {
         font-size: 12px;
     }

     .contact-logo img {
         position: relative;
         width: 100%;
     }




     /* STORE LOCATION */
     #store-details {
         background-color: var(--green);
         padding: 3rem 0 6rem 0;
     }

     .store-details h2 {
         font-size: 5rem;
         color: var(--white);
         font-family: "Lilita One", sans-serif;
         text-align: center;
     }

     .store-details .carousel-inner {
         padding: 20px;
         background-color: #035f2e;
         border-radius: 20px;
         height: auto;
     }

     .store-details .store-card {
         border-radius: 16px;
         overflow: hidden;
         background: var(--white);
         box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
         transition: transform 0.3s ease, box-shadow 0.3s ease;
         height: 100%;
         font-family: "Poppins", sans-serif;
     }

     .store-details .store-card:hover {
         transform: translateY(-6px);
     }

     .store-details .card-header-bar {
         background: var(--yellow);
         padding: 1rem;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 15vh;
     }

     .store-details .card-header-bar i {
         font-size: 5rem;
         color: var(--black);
     }

     .store-details .card-body {
         padding: 1.2rem;
         text-align: center;
     }

     .store-details .store-name {
         font-weight: 700;
         color: var(--green);
         font-size: 1.2rem;
         margin-bottom: 0.8rem;
         text-align: center;
     }

     .store-details .store-info {
         font-size: 0.9rem;
         color: var(--black);
         margin: 0.3rem 0;
         border-bottom: 1px solid var(--black);
     }

     /* Social Icons */
     .store-details .social-icons {
         margin-top: 1rem;
         display: flex;
         justify-content: center;
         gap: 12px;
     }

     .store-details .social-icons a {
         color: var(--green);
         font-size: 1.2rem;
         transition: color 0.3s ease;
     }

     .store-details .social-icons a:hover {
         color: var(--yellow);
     }


     .store-details .carousel-control-prev,
     .store-details .carousel-control-next {
         width: 50px;
         height: 50px;
         top: 45%;
         background-color: var(--white);
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         color: var(--black);
         font-size: 2rem;
         z-index: 10;
     }

     .store-details .carousel-control-prev {
         left: -60px;
     }

     .store-details .carousel-control-next {
         right: -60px;
     }

     .store-details .carousel-control-prev:hover,
     .store-details .carousel-control-next:hover {
         background-color: var(--white);
         color: var(--black);
     }
 }

 /* RESPONSIVENESS */


 /* ======================================== CONTACT PAGE ======================================== */
 /* ======================================== CONTACT PAGE ======================================== */























 /* ======================================== FEEDBACK PAGE ======================================== */
 /* ======================================== FEEDBACK PAGE ======================================== */

 .feedback-wrapper {
     width: 100%;
     max-width: 900px;
     padding: 2rem;
     font-family: 'Poppins', sans-serif;
 }

 .feedback-wrapper .card {
     border-radius: 1.5rem;
     background-color: var(--white);
     box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
     border: 3px solid var(--black);
     animation: fadeUp 0.8s ease;
 }

 @keyframes fadeUp {
     from {
         opacity: 0;
         transform: translateY(30px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .feedback-wrapper h3,
 .feedback-wrapper h4,
 .feedback-wrapper h5 {
     color: var(--green);
     font-family: 'Lilita One', sans-serif;
 }

 .feedback-wrapper .btn-load {
     width: 30%;
     margin: auto;
     background-color: var(--yellow);
     border: 2px solid var(--black);
     color: var(--black);
     border-radius: 50px;
     padding: 0.6rem 1.5rem;
     transition: transform 0.2s;
     font-family: 'Lilita One', sans-serif;
 }

 .feedback-wrapper .btn-load:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 .feedback-wrapper .btn-submit {
     width: 30%;
     margin: auto;
     background-color: var(--yellow);
     border: 2px solid var(--black);
     color: var(--black);
     border-radius: 50px;
     padding: 0.6rem 1.5rem;
     transition: transform 0.2s;
     font-family: 'Lilita One', sans-serif;
     align-self: center;
 }

 .feedback-wrapper .btn-submit:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }


 /* Star rating */
 .stars {
     display: flex;
     gap: 8px;
     cursor: pointer;
     font-size: 2rem;
     color: #ccc;
     transition: all 0.2s;
 }

 .stars span {
     transition: transform 0.2s, color 0.2s, text-shadow 0.2s;
 }

 .stars span:hover {
     transform: scale(1.3);
     color: var(--yellow);
 }

 .stars .active {
     color: var(--yellow);
     text-shadow: 0 0 12px rgba(243, 195, 1, 0.6);
 }

 /* Inputs (text, textarea, file, etc.) */
 .feedback-wrapper .form-control {
     border: 2px solid var(--mint);
     color: var(--black);
     font-family: 'Poppins', sans-serif;
     transition: 0.2s;
 }

 .feedback-wrapper .form-control:focus {
     border-color: var(--green);
     box-shadow: 0 0 6px rgba(5, 130, 64, 0.4);
     background-color: var(--white);
     color: var(--black);
 }

 /* Upload area */
 .upload-area {
     border: 2px dashed var(--mint);
     border-radius: 1rem;
     padding: 1rem;
     text-align: center;
     color: var(--black);
     background: var(--cream);
     transition: 0.3s;
     cursor: pointer;

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 /* Put previews INSIDE upload area */
 .upload-area .preview {
     display: flex;
     flex-wrap: wrap;
     gap: 12px;
     margin-top: 10px;
     justify-content: center;
     width: 100%;
 }

 .upload-area .preview img,
 .upload-area .preview video {
     width: 100px;
     height: 100px;
     object-fit: cover;
     border-radius: 12px;
     border: 3px solid var(--white);
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 }

 /* ======================================== FEEDBACK PAGE ======================================== */
 /* ======================================== FEEDBACK PAGE ======================================== */























 /* ======================================== TERMS AND CONDITION PAGE ======================================== */
 /* ======================================== TERMS AND CONDITION PAGE ======================================== */

 .terms {
     max-width: 900px;
     margin: 50px auto;
     padding: 40px 30px;
     background-color: var(--white);
     border-radius: 12px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
     line-height: 1.7;
 }

 .terms h1,
 .terms h2 {
     font-family: 'Poppins', sans-serif;
     color: var(--black);
 }

 .terms h1 {
     text-align: center;
     font-size: 2em;
     margin-bottom: 20px;
 }

 .terms h2 {
     margin-top: 30px;
     font-size: 1.3em;
 }

 .terms p {
     margin-bottom: 15px;
 }

 .terms ul {
     margin: 10px 0 20px 20px;
 }

 .terms strong {
     color: var(--green);
 }

 .terms a {
     color: var(--green);
     font-weight: bold;
     text-decoration: none;
 }

 /* ======================================== TERMS AND CONDITION PAGE ======================================== */
 /* ======================================== TERMS AND CONDITION PAGE ======================================== */